<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <task:scheduled-tasks>
        <!-- 每分钟执行一次 -->
        <task:scheduled ref="taskTest" method="say" cron="0 */30 * * * ?"/>
    </task:scheduled-tasks>


    <!--
    ##########################################################
    ## 一个cron表达式有至少6个（也可能是7个）由空格分隔的时间元素。从左至右，这些元素的定义如下：
    ##########################################################
    # 1. 　秒(0-59）                   , - * /
    # 2. 分钟(0-59）                   , - * /
    # 3. 小时(0-23）                   , - * /
    # 4. 日期(1-31）                   , - * ? / L W C
    # 5. 月份(1-12 或 JAN-DEC）        , - * /
    # 6. 星期(1-7 或 SUN-SAT）         , - * ? / L C #
    # 7. 年份(可选,留空 或 1970-2099）  , - * /
    ##########################################################
    ## 表达式示例
    ##########################################################
    # 0 0 12 * * ?                每天中午12点触发
    # 0 15 10 ? * *               每天上午10:15触发
    # 0 15 10 * * ?               每天上午10:15触发
    # 0 15 10 * * ? *             每天上午10:15触发
    # 0 15 10 * * ? 2005          2005年的每天上午10:15触发
    # 0 * 14 * * ?                在每天下午2点到下午2:59期间的每1分钟触发
    # 0 0/5 14 * * ?              在每天下午2点到下午2:55期间的每5分钟触发
    # 0 0/5 14,18 * * ?           在每天下午2点到2:55期间和下午6点到6:55期间的每5分钟触发
    # 0 0-5 14 * * ?              在每天下午2点到下午2:05期间的每1分钟触发
    # 0 10,44 14 ? 3 WED          每年三月的星期三的下午2:10和2:44触发
    # 0 15 10 ? * MON-FRI         周一至周五的上午10:15触发
    # 0 15 10 15 * ?              每月15日上午10:15触发
    # 0 15 10 L * ?               每月最后一日的上午10:15触发
    # 0 15 10 ? * 6L              每月的最后一个星期五上午10:15触发
    # 0 15 10 ? * 6L 2002-2005    2002年至2005年的每月的最后一个星期五上午10:15触发
    # 0 15 10 ? * 6#3             每月的第三个星期五上午10:15触发
    # 0 0 6 * * *                   每天早上6点
    # 0 0 */2 * * *               每两个小时
    # 0 0 23-7/2,8 * * *          晚上11点到早上7点之间每两个小时，早上八点
    # 0 0 11 4 * 1-3              每个月的4号和每个礼拜的礼拜一到礼拜三的早上11点
    # 0 0 4 1 1 *                 1月1日早上4点
    ################################################################################################
    ## Cron表达式的时间字段除允许设置数值外，还可使用一些特殊的字符，提供列表、范围、通配符等功能，细说如下：
    ################################################################################################
    # 星号(*)：可用在所有字段中，表示对应时间域的每一个时刻，例如，*在分钟字段时，表示“每分钟”；
    # 问号（?）：该字符只在日期和星期字段中使用，它通常指定为“无意义的值”，相当于点位符；
    # 减号(-)：表达一个范围，如在小时字段中使用“10-12”，则表示从10到12点，即10,11,12；
    # 逗号(,)：表达一个列表值，如在星期字段中使用“MON,WED,FRI”，则表示星期一，星期三和星期五；
    # 斜杠(/)：x/y表达一个等步长序列，x为起始值，y为增量步长值。如在分钟字段中使用0/15，则表示为0,15,30和45秒，而5/15在分钟字段中表示5,20,35,50，你也可以使用*/y，它等同于0/y；
    # L：该字符只在日期和星期字段中使用，代表“Last”的意思，但它在两个字段中意思不同。L在日期字段中，表示这个月份的最后一天，如一月的31号，非闰年二月的28号；如果L用在星期中，则表示星期六，等同于7。但是，如果L出现在星期字段里，而且在前面有一个数值X，则表示“这个月的最后X天”，例如，6L表示该月的最后星期五；
    # W：该字符只能出现在日期字段里，是对前导日期的修饰，表示离该日期最近的工作日。例如15W表示离该月15号最近的工作日，如果该月15号是星期六，则匹配14号星期五；如果15日是星期日，则匹配16号星期一；如果15号是星期二，那结果就是15号星期二。但必须注意关联的匹配日期不能够跨月，如你指定1W，如果1号是星期六，结果匹配的是3号星期一，而非上个月最后的那天。W字符串只能指定单一日期，而不能指定日期范围；
    # LW组合：在日期字段可以组合使用LW，它的意思是当月的最后一个工作日；
    # 井号(#)：该字符只能在星期字段中使用，表示当月某个工作日。如6#3表示当月的第三个星期五(6表示星期五，#3表示当前的第三个)，而4#5表示当月的第五个星期三，假设当月没有第五个星期三，忽略不触发；
    # C：该字符只在日期和星期字段中使用，代表“Calendar”的意思。它的意思是计划所关联的日期，如果日期没有被关联，则相当于日历中所有日期。例如5C在日期字段中就相当于日历5日以后的第一天。1C在星期字段中相当于星期日后的第一天。
    ################################################################################################
    -->


</beans>